/* Bleu de France #318CE7 */
/* French Blue #0072BB */
/* French rose #F64A8A */
/* French mauve #D473D4 */
/* French violet #8806CE */
/* French gray #BEBFC5 */

body {
    background-color: #BEBFC5;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

header {
    position: fixed;
    height: 10vh;
    width: 100vw;
    z-index: 50;
    background-size: cover;
}

ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0072BB;
    position: fixed;
    top: 0%;
    width: 101%;
}

ul.NavBar li {
    float: left;
}

ul.NavBar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.NavBar li a:hover:not(.Home) {
    background-color: #318CE7;
}

ul.NavBar li a.Home {
    background-color: #D473D4;
}

ul.NavBar li.right {
    float: right;
}

.Lien {
    text-align: left;
    display: flex;
}

a {
    border-style: solid;
    display: flex;
    flex-direction: column
}

ul.Lien {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.Lien a {
    float: left;
    display: flex;
}


ul.ProjetJS {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.ProjetJS li {
    float: left;
}

ul.ProjetJS li a {
    display: block;
    flex-direction: column;
    width:250px;
    height: 175px;
}

ul.ProjetGO {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.ProjetGO li {
    float: left;
}

ul.ProjetGO li a {
    display: block;
    flex-direction: column;
    width: 250px;
    height: 175px;
}